!!!5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title PVP Club
		link(rel="stylesheet", type="text/css", href="css/reset.css")
		link(rel="stylesheet", type="text/css", href="css/index.css")
		// We should never trust Caleb with making a website ever again.
	body
		#wrapper
			header
				h1 Pine View Programming Club
			div#top
				section#officers
					h2 Officers
					div
						ul
							li
								| President:<br>
								span(title="Captian Spaaace Caleb") Caleb Proffitt
							li
								| Vice-President:<br>
								span(title="It's spelled with a k") Zackary Corbett
							li
								| Secretary:<br>
								span(title="HTML fairy") Amanda Healy
				section#news
					h2 News
					div
						ul
							li
								strong (27 Feb, 2014):
								|  We did programming. It was fun. Caleb rambled. The usual stuff.
							li
								strong (6 Nov, 2013):
								|  This Thursday let's make sure everyone understands whats going on and I'll explain abstraction and encapsulation and why they are important.
							li
								strong (6 Oct, 2013):
								|  This Thursday we should finish up texturing and input and maybe start on making a game.
							//- li
							//- 	strong (1 Sept, 2013):
							//- 	|  This Thursday will be the first programming club meeting of the school year! Zackary Corbett is vice president and Amanda Healy is secretary. I have archived all of this page's posts from last year.
			section#about
				h2 About
				article
					p We meet Thursdays 7th period in Mr. Percival's room (Room 13).
					p My goal for this year will be to get everyone to the point where they can make a simple 2D game with LWJGL. Let's see if we can make that happen!
			section#code
				h2 Code
				div
					ul
						li
							| Texture class for LWJGL: 
							a(href="/Texture.txt") Texture.java

			footer
				p Captian Spaaace Calrb is &copy;opyright the PVPC 2014
				p.late The good captian been late to programming club <code>x</code> times, where <code>x</code> is the number of times the club has met.